#!/usr/bin/env bash
set -euo pipefail
[ -n "${DEBUG:-}" ] && set -x
src="$(readlink -f "${BASH_SOURCE[0]}")"
srcdir="$(cd "$(dirname "$src")" && pwd)"

# ============================================================================ #
#                              P r e - C o m m i t
# ============================================================================ #
if ! type -P pre-commit &>/dev/null; then
    if uname -s | grep -q Darwin &&
       type -P brew &>/dev/null; then
        echo
        echo "Pre-commit is not installed - installing now using Homebrew..."
        echo
        brew install pre-commit
        echo
    elif type -P pip &>/dev/null; then
        echo
        echo "Pre-commit is not installed - installing now using Pip..."
        echo
        pip install pre-commit
    fi
fi

if [ -f .pre-commit-config.yaml ] &&
   type -P pre-commit &>/dev/null &&
   git rev-parse --is-inside-work-tree &>/dev/null; then
    if ! [ -f "$(git rev-parse --show-toplevel)/.git/hooks/pre-commit" ]; then
        echo
        echo "Pre-commit hook is not installed in local Git repo checkout - installing now..."
        echo
        pre-commit install
    fi
fi

# ============================================================================ #
#                          D o c k e r   C o m p o s e
# ============================================================================ #

export COMPOSE_PROJECT_NAME="generate-diagrams"
# ============================================================================ #
#                   Load External Envrc Files If Present
# ============================================================================ #
load_if_exists(){
    local envrc="$1"
    shift
    if ! [[ "$envrc" =~ ^/ ]]; then
        envrc="$srcdir/$envrc"
    fi
    if [ -f "$envrc" ]; then
        if [ "$(readlink "$envrc")" = "$src" ]; then
            return
        fi
        echo
        echo "Loading $envrc"
        . "$envrc" "$@"
    fi
}


# ============================================================================ #
#                                  P y t h o n
# ============================================================================ #
for envrc in \
    .envrc-python \
    ; do
    load_if_exists "$envrc"
done

# ============================================================================ #
#                                     A W S
# ============================================================================ #
if [[ "$PWD" =~ /aws/ ]]; then
    load_if_exists .envrc-aws
fi
# ============================================================================ #
#                                     G C P
# ============================================================================ #
if [[ "$PWD" =~ /gcp/ ]]; then
    load_if_exists .envrc-gcp
fi
# ============================================================================ #
#                               T e r r a f o r m
# ============================================================================ #
if [[ "$PWD" =~ /(terra(form)?|tf)(/|$) ]]; then
    load_if_exists .envrc-terraform
fi
# ============================================================================ #
#                              K u b e r n e t e s
# ============================================================================ #
if [ -f "$srcdir/.envrc-kubernetes" ]; then
    load_if_exists .envrc-kubernetes docker-desktop
fi
# ============================================================================ #
#                                    . E n v
# ============================================================================ #

echo
load_if_exists .envrc.local
